body, html {
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
  }
  
.full_element {
    background-size: 100%, 10%;
    background-position: top left, 0 0;
    background-color: #252F41;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height:min-content;
    margin: 0;
    padding: 0;
}
.main {
    height: 200%;
    padding-bottom: 25vh;
}
.main-title {
    color: #f7fcfc;
    margin: 0;
    padding-top: 12vh;
    text-align: center;
    font-family: 'EB Garamond', times, serif; 
    font-size: 4.5rem;
}
.main-subtitle {
    color: #5a667c;
    margin: 0;
    padding-top: 3vh;
    text-align: center;
    font-family: 'Lato', 'Avenir', Helvetica,Arial, sans-serif; 
    font-size: 1.5rem;
    font-weight: 300;
}
.photo-container {
    width: 100%;
    margin-top: 4%;
}
.main-photo {
    height: 775px;
    display: block;
    margin: 0 auto;
    border-radius: 7px;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, .4);
}
/* .footer {
    background-image: 
    radial-gradient(rgba(255, 83, 112, .4), 
    rgba(49, 142, 189, .4)), 
    url('assets/favicon.jpg');
    height: 16vh;
    background-size: 100%, 10%;
} */
.credits {
    margin: 0;
    padding: 0;
    margin-left: 7%;
    font-family: 'Lato', 'Avenir', Helvetica,Arial, sans-serif; 
    padding-bottom: 10vh;
    margin-top: 5vh;
    font-size: 1.5rem;
    color: #5a667c;
    /* opacity: .5; */
    font-weight: 300;
    transition: .2 ease-in-out;
}
.credits a {
    color: #5a667c;
    text-decoration: none;
    font-weight: 900;
}
.credits a:hover {
    color: #ea6465;
    transition: .2 ease-in-out;
}
@media (max-width: 600px) {
    .main {
        height: 200%;
        padding-bottom: 10vh;
    }
    .main-title {
        padding-top: 6vh;
        font-size: 3rem;
    }
    .main-subtitle {
        padding-top: 3vh;
        margin-left: 5vh;
        text-align: left;
        width: 80%;
        font-size: 1.3rem;
    }
    .main-photo {
        height: 215px;
        margin-top: 7vh;
    }
    .footer {
        background-image: radial-gradient(rgba(255, 83, 112, .4), 
        rgba(49, 142, 189, .4)), 
        url('https://i.pinimg.com/originals/77/40/a2/7740a2b13f9fb24d9595dd2bb04e749f.gif');
        height:13vh;
        background-size: 100%, 35%;
    }
    
}