body, html {
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
  }
  
.full_element {
    background-size: 100%, 10%;
    background-position: top left, 0 0;
    background-color: #252F41;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height:min-content;
    margin: 0;
    padding: 0;
}
.main {
    height: 200%;
    padding-bottom: 500px;
}
.main-title {
    color: #f7fcfc;
    margin: 0;
    padding-top: 12vh;
    text-align: center;
    font-family: 'EB Garamond', times, serif; 
    font-size: 4.5rem;
}
.main-subtitle {
    color: #5a667c;
    margin: 0;
    padding-top: 3vh;
    text-align: center;
    font-family: 'Lato', 'Avenir', Helvetica,Arial, sans-serif; 
    font-size: 1.5rem;
    font-weight: 300;
}
.photo-container {
    width: 100%;
    margin-top: 4%;
}
.main-photo {
    height: 775px;
    display: block;
    margin: 0 auto;
    border-radius: 7px;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, .4);
}
.footer {
    background-image: radial-gradient(rgba(255, 83, 112, .4), 
    rgba(49, 142, 189, .4)), 
    url('https://i.pinimg.com/originals/77/40/a2/7740a2b13f9fb24d9595dd2bb04e749f.gif');
    height:15vh;
    border: 1px solid red;
    background-size: 100%, 9%;
}
